@import "colors";
.adviceGenerator {
  font-size: clamp(1rem, 6vw, 28px);
  background-color: $darkGrayishBlue;
  text-align: center;
  padding: 3rem 2.2rem 4.6rem;
  position: relative;
  display: grid;
  gap: 1.5rem;
  border-radius: 1rem;
  justify-items: center;
  margin-inline: 1rem;
  > h1 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $neonGreen;
  }
}
.adviceText {
  max-width: 25ch;
  color: $lightCyan;
}
.dividerPattern {
  // max-width: 100%;
  // font-size:28px !important ;
  width: 100%;
  max-width: 25ch;
  height: auto;
}

.diceContainer {
  border: 0;
  background-color: $neonGreen;
  cursor: pointer;
  width: min(15vw, 65px);
  aspect-ratio: 1;
  // padding: 1.15rem;
  border-radius: 50%;
  display: grid;
  place-items: center;

  position: absolute;
  bottom: calc(min(15vw, 65px) / -2);
  inset-inline: 0;
  margin-inline: auto;
}
.dice {
  width: 40%;
  height: auto;
}
.diceContainer:hover,
.diceContainer:active {
  box-shadow: 0 0 30px 2px $neonGreen;
}
