.footer{
    position: absolute;
    bottom: 1rem;
    // right: 0;
    // margin-inline:auto;
    // inset: 0;
    // display: grid;
    // align-items:last baseline;
    // justify-content: center;

    // margin-top: auto;
    // text-align: center;
    // background-color: transparent;
    // margin-top: auto;
    // padding-block: 1rem ;
    // backdrop-filter: blur(.5rem);
    >p>*{
        margin-top: auto;
        color:firebrick;
    }
}