.header {
  position: fixed;
  top: 0;
  display: flex;
  padding: 2.4rem;
  font-family: "Barlow Condensed", sans-serif;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  z-index: 123;
  > nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #aaa1;
    backdrop-filter: blur(6rem);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;

    > ul {
      list-style: none;
      display: grid;
      position: relative;
      gap: 3.2rem;
      width: max(22rem, 51vw);
      padding-top: 11.8rem;
      padding-left: 2rem;
    }
  }
}

.logo {
  width: 4rem;
  height: auto;
  z-index: 123;
}

.menu {
  border: 0;
  z-index: 1;
  height: fit-content;
  background-color: transparent;
  cursor: pointer;
  > * {
    width: 2.4rem;
    height: auto;
  }
}
.menu[aria-expanded="true"] {
  > * {
    width: 1.9rem;
  }
  + nav {
    transform: translateX(0);
  }
}

.link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  opacity: 0.8;
}

.activeLink,
.link:hover {
  opacity: 1;
  font-weight: 600;
}

.link::before {
  content: attr(number);
  font-weight: bold;
  margin-right: 10.7px;
}

@media screen and (min-width: 700px) {
  .menu {
    display: none;
  }
  .logo {
    width: 4.8rem;
  }
  .link {
    opacity: 1;
    font-weight: 100 !important;
  }
  .header {
    padding-inline: 4rem;
    > nav {
      display: block;
      position: absolute;
      transform: none;
      transition: none;
      > ul {
        width: auto;
        align-items: center;
        display: flex !important;
        gap: 3.5rem;
        padding: 0;
        padding-inline: 4.5rem;
        height: 100%;
        > li {
          height: 100%;
          position: relative;
          display: grid;
          align-items: center;
        }
        font-size: 1.4rem;
      }
    }
  }
  .link::after {
    content: "";
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.1s ease-in-out;
    position: absolute;
    inset-inline: 0;
    background-color: gray;
    height: 3px;
    bottom: 0;
  }

  .link:hover::after {
    transition: transform 0.2s ease-in-out;
    transform: scaleX(1);
  }

  .activeLink::after {
    background-color: white !important;
    transform: scaleX(1);
  }

  .link::before {
    display: none;
  }
}

@media screen and (min-width: 1160px) {
  .link::before {
    display: inline-block;
  }
  .header {
    top: 4rem;
    padding-inline: 5.3rem;
    > nav {
      > ul {
        gap: 4.8rem;
        font-size: 1.6rem;
        padding-inline: clamp(1rem, 10vw, 12.2rem) 1rem;
        width: 57.8vw;
      }
      ul::before {
        content: "";
        width: 57%;
        right: 96.3%;
        background-color: #aaa7;
        position: absolute;
        height: 1px;
      }
    }
  }
}
