@import "colors";
.main{
    display: grid;
    place-items: center;
    font-family: "Manrope",sans-serif;
    min-height: 100svh;
    background-color: $darkBlue;
    position: relative;

}
.reference{
text-align: center;
    position: absolute;
    bottom: 5%;
    color: $lightCyan;
    padding-inline:1rem;
    >*{
        color: $neonGreen;
    }
}