@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&family=Fraunces:wght@700;900&display=swap');
.main{
    font-size: 2rem;
    display: grid;
    gap: 2rem;
    >p:first-of-type{
        font-family: Fraunces,serif;
        font-weight: 700;
    }
    >p:nth-of-type(2){
        font-family: "Fraunces",serif;
        font-weight: 900;
        // background-color: red;
    }
    >P:nth-of-type(3){
        font-family: "Barlow",sans-serif;
        font-weight: 500;
    }
    >p:last-of-type{
        font-family: "Barlow",sans-serif;
        font-weight: 700;
    }
}