@import "colors";
.main{
    background-color: $cream;
    min-height: 100svh;
    display: grid;
    place-items: center;
}
.reference{
    position: absolute;
    bottom: 10px;
    text-align: center;
}