.main {
  min-height: 100svh;
  background: url("/technology/background-technology-mobile.jpg") no-repeat
    center / cover;
  text-align: center;
  padding: 8.8rem 0 6.8rem;
  overflow: hidden;
}

.technologyImage {
  width: 100.5%;
  object-fit: cover;
  aspect-ratio: 16/6.45;
}

.link {
  text-decoration: none;
  outline: 4rem solid black;
  background-color: black;
  color: white;
  padding: 2rem;
}
.activeLink {
  outline: 4rem solid white;
  background-color: white;
  color: black;
}

.technologyNav {
  margin-block: 3.4rem 2.6rem;
  > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1.6rem;
    > li {
      width: 4rem;
      border: 1px solid #fff5;
      aspect-ratio: 1;
      display: grid;
      place-content: center;
      border-radius: 50%;
      overflow: hidden;
      cursor: pointer;
      font-family: "Bellefair", sans-serif;
    }
    > li:hover {
      border-color: white;
    }
  }
}

.preTechnologyName {
  color: #d0d6f9;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.23rem;
  font-family: "Barlow Condensed", sans-serif;
}
.technologyName {
  font-size: 2.4rem;
  font-weight: 100;
  font-family: "Bellefair", sans-serif;
  text-transform: uppercase;
  margin-block: 0.9rem 1.6rem;
}

.technologyDescription {
  color: #d0d6f9;
  line-height: 2.5rem;
  max-width: 45.8rem;
  margin-inline: auto;
  font-size: 1.5rem;
  padding-inline: 1rem;
  font-family: "Barlow", sans-serif;
}
@media screen and (min-width: 700px) {
  .main {
    background-image: url("/technology/background-technology-tablet.jpg");
    padding-inline: 3.9rem;
    padding-top: 13.6rem;
  }

  .section1 {
    margin-inline: -3.9rem;
  }
  .technologyNav {
    margin-block: 5.6rem 4.4rem;
    > ul > li {
      width: 6rem;
      font-size: 2.4rem;
    }
  }
  .preTechnologyName {
    font-size: 1.6rem;
  }
  .technologyName {
    font-size: 4rem;
    margin-block: 1.6rem;
  }

  .technologyDescription {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-inline: auto;
  }
}

@media screen and (min-width: 1160px) {
  .main {
    background-image: url("/technology/background-technology-desktop.jpg");
    padding-top: 21.2rem;
    padding-left: 16.65rem;
    padding-bottom: 12rem;
  }
  .section1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    max-width: 1540px;
    margin-left: auto;
  }
  .technologyImage {
    width: 51.5rem;
    height: 52.7rem;
  }

  .technologyNav {
    order: 1;
    > ul {
      flex-direction: column;
      gap: 3.2rem;
      > li {
        width: 8rem;
        font-size: 3.2rem;
      }
    }
  }
  .article1 {
    text-align: left;
    margin-right: auto;
  }
  .technologyName {
    font-size: 5.6rem;
  }
  .technologyDescription {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}
